html {
    scroll-behavior: auto;
}

.banner, .charity {
    background: linear-gradient(to right, #091f1b, transparent),
        url('../images/banner-two-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.banner img[src="images/shape.png"],
.charity img[src="images/shape.png"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: 1;
}

.banner h2,
.charity h2 {
    width: 50%;
    text-align: start;
    color: white;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 5.3rem;
    line-height: 115%;
    animation: fadeIn 1.5s ease-in-out;
}

span {
    color: #cf3a2c;
    font-family: "Sansita", sans-serif;
}

.banner .img-1,
.charity .img-1 {
    max-width: 30%;
    animation: floatUpDown 2s ease-in-out infinite alternate;
}

.banner .img-2,
.charity .img-2 {
    position: absolute;
    bottom: 10%;
    right: 7%;
    max-width: 15%;
    height: 35%;
    animation: zoomInOut 3s ease-in-out infinite alternate;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes floatUpDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(10px);
    }
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.stories {
    background-color: #ffffff;
    background-image: url("../images/shape-hand.png");
    background-repeat: no-repeat;
    background-size: 20%;
    padding: 5rem 0;
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
    animation: moveBg 5s infinite ease-in-out;
}

@keyframes moveBg {
    0% {
        background-position: left top;
    }

    50% {
        background-position: left bottom;
    }

    100% {
        background-position: left top;
    }
}

.story {
    position: relative;
    /* max-width: 400px; */
    width: 100%;
    overflow: hidden;
}

.story-content {
    position: relative;
    width: 100%;
}

.story-content img {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay h3,
.overlay p,
.overlay a {
    width: 85%;
    margin: 0 auto;
}

.overlay h3,
.our-story h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.overlay p,
.our-story p {
    font-size: 1.25rem;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

.overlay a,
.our-story a {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: "Sansita", sans-serif;
    text-decoration: none;
    color: #cf3a2c;
}




/* Breakpoint for medium device */

@media screen and (min-width:1025px) and (max-width: 1200px) {

    .banner,
    .charity {
        height: 90vh;
    }

    .banner h2,
    .charity h2 {
        width: 65%;
        text-align: start;
        color: white;
        font-size: 5rem;
        line-height: 115%;
    }


    .overlay h3 {
        width: 70%;
        margin: 0 auto;
    }

    .second h3 {
        margin-top: .5rem;
    }

    /* .third h3 {
    margin-top: -5.1rem;
} */

    .overlay p,
    .overlay a {
        width: 90%;
        margin: 0 auto;
    }

    .overlay h3,
    .our-story h3 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: .6rem;
    }

    .overlay p,
    .our-story p {
        font-size: 1.25rem;
    }

    .overlay a,
    .our-story a {
        font-size: 1.15rem;
    }
}



/* Breakpoint for medium device */

@media screen and (min-width:769px) and (max-width: 1024px) {
    
    .banner h2,
    .charity h2 {
        width: 80%;
        font-size: 4rem;
        line-height: 121%;
        margin-left: -1.5rem;
    }

    
    .banner .img-2,
    .charity .img-2 {
        height: 30%;
    }
    
    .stories {
        background-size: 25%;
        padding: 4rem 0;
        display: grid;
        animation: moveBg 10s infinite ease-in-out;
    }
    
    .story {
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    
    .story-content {
        position: relative;
        width: 100%;
    }
    
    .story-content img {
        width: 100%;
        display: block;
    }
    
    .overlay {
        position: absolute;
        top: 62%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .overlay h3,
    .overlay p,
    .overlay a {
        width: 85%;
        margin: 0 auto;
    }
    
    .overlay h3,
    .our-story h3 {
        font-size: 1.9rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    
    .overlay p,
    .our-story p {
        font-size: 1.15rem;
    }
    
    .overlay a,
    .our-story a {
        font-size: 1.15rem;
    }
}


/* Breakpoint for small device */

@media screen and (min-width:641px) and (max-width: 768px) {

    .banner,
    .charity {
        height: 60vh !important;
        width: auto;
        display: flex;
        padding-left: 2rem ;
    }

    .banner h2,
    .charity h2 {
        width: 100%;
        text-align: start;
        font-size: 3rem;
        line-height: 120%;
    }

    .banner .img-1,
    .charity .img-1 {
        display: none;
    }

    .banner .img-2,
    .charity .img-2 {
        position: absolute;
        top: 7%;
        left: 10%;
        max-width: 19%;
        height: 35%;
    }

    .stories {
        background-image: url("../images/shape-hand.png");
        background-size: 25%;
        padding: 3rem 0;
        display: grid;
        width: 100%;
        gap: 20px;
    }

    .story {
        position: relative;
        width: 110%;
    }

    .story-content {
        position: relative;
        width: 100%;
    }

    .story-content img {
        width: 100%;
        display: block;
    }

    .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .second h3 {
        margin-top: 1.5rem !important;
    }

    .third h3 {
        margin-top: 1rem !important;
        width: 70% !important;
    }

    .overlay h3,
    .overlay p,
    .overlay a {
        width: 90%;
        margin: 0 auto;
    }

    .unique {
        margin-top: .7rem;
    }

    .overlay h3,
    .our-story h3 {
        width: 80%;
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .overlay p,
    .our-story p {
        font-size: 1.25rem;
    }

    .overlay a,
    .our-story a {
        font-size: 1.1rem;
    }
}


/* Breakpoint for small device */

@media screen and (max-width: 640px) {

    .banner, .charity {
        height: 60vh;
        width: 100%;
        display: flex;
    }
    
    .banner h2,
    .charity h2 {
        width: 100%;
        font-size: 2.7rem;
        line-height: 115%;
        margin-left: -5rem;
    }
    
    .banner .img-2,
    .charity .img-2 {
        max-width: 15%;
        height: 25%;
    }
    
    
    .stories {
        background-size: 25%;
        padding: 3rem 0;
        display: grid;
        width: 100%;
        animation: moveBg 10s infinite ease-in-out;
    }
    
    .story {
        position: relative;
        /* max-width: 400px; */
        width: 100%;
        overflow: hidden;
    }
    
    .story-content {
        position: relative;
        width: 100%;
    }
    
    .story-content img {
        width: 100%;
        display: block;
    }
    
    .overlay {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .overlay h3 {
        width: 80%;
        margin: 0 auto;
    }

    .first-one {
        margin-top: -.5rem;
    }
    
    .overlay p,
    .overlay a {
        width: 85%;
        margin: 0 auto;
    }
    
    .overlay h3,
    .our-story h3 {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    
    .overlay a,
    .our-story a {
        font-size: 1.15rem;
}
}


/* Breakpoint for mobile device */

@media screen and (max-width: 380px) {

    .banner,
    .charity {
        height: 45vh;
        width: 100%;
    }

    .banner h2,
    .charity h2 {
        width: auto;
        text-align: start;
        font-size: 2.5rem;
        line-height: 115%;
    }

    .banner .img-1,
    .charity .img-1 {
        max-width: 20%;
    }

    .banner .img-2,
    .charity .img-2 {
        position: absolute;
        bottom: 3%;
        right: 7%;
        max-width: 13%;
        height: 30%;
    }


    .stories {
        display: none;
        background-color: #ffffff;
        background-image: url("../images/shape-hand.png");
        background-repeat: no-repeat;
        background-size: 25%;
        padding: 3rem 0;
        display: grid;
        width: 100%;
        gap: 20px;
        animation: moveBg 10s infinite ease-in-out;
    }


    .story {
        position: relative;
        /* max-width: 400px; */
        width: 100%;
        overflow: hidden;
    }

    .overlay {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .overlay h3 {
        width: 80%;
        margin: 0 auto;
    }

    .overlay p,
    .overlay a {
        width: 88%;
        margin: 0 auto;
    }

    .overlay h3,
    .our-story h3 {
        font-size: 1.7rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .overlay p,
    .our-story p {
        font-size: 1.15rem;
    }

    .overlay a,
    .our-story a {
        font-size: 1.15rem;
    }
}