



#subscribe {
    background: linear-gradient(to right, #cf3a2c, rgba(157, 32, 29, 0.9)), 
                url('your-background-image.jpg') no-repeat center center/cover;
    height: 50vh;
    width: 100%;
    display: grid;
    text-align: center;
    margin-top: 0rem;
    padding-top: 5rem;
}


#subscribe h2 {
    font-size: 3.2rem;
    color: #ffffff;
}

.newslater {
    padding: 0 5rem 0 0;
}

.newslater input {
    font-size: 1.25rem;
    font-family: "Sansita", sans-serif;
    color: #ffffff;
    padding: 1.3rem 2rem;
    letter-spacing: 1px;
    border: none;
    text-align: center;
    border-radius: 50px;
    margin-right: 1rem;
}

.newslater button {
    font-size: 1.3rem;
    font-weight: 600;
    color: #cf3a2c;
    background-color: #ffffff;
    padding: 1.3rem 2rem;
    border: 1px transparent;
    border-radius: 50px;
}

.newslater button:hover{
    font-size: 1.3rem;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
}


/* Breakpoint for large device */

@media screen and (min-width: 1025px) and (max-width: 1200px) {

    #subscribe {
        height: 45vh;
        display: grid;
        padding-top: 4rem;
    }   
    
    #subscribe h2 {
        font-size: 3rem;
    }
    
    
    .newslater input {
        font-size: 1.2rem;
        padding: 1.3rem 2rem;
        letter-spacing: 1px;
        margin-right: 1rem;
    }
    
    .newslater button {
        font-size: 1.25rem;
        padding: 1.3rem 2rem;
    }
    
    .newslater button:hover{
        font-size: 1.25rem;
        background-color: transparent;
        border: 1px solid #ffffff;
    }
}



/* Breakpoint for medium device */

@media screen and (min-width: 769px) and (max-width: 1024px) {

    #subscribe {
        height: 37vh;
        display: grid;
        padding-top: 3rem;
    }

    #subscribe h2 {
        font-size: 2.9rem;
    }

    .newslater input {
        font-size: 1.15rem;
        letter-spacing: 1px;
        padding: 1.2rem 2rem;
        margin-right: 1rem;
    }
    
    .newslater button {
        font-size: 1.15rem;
        font-weight: 600;
        color: #cf3a2c;
        background-color: #ffffff;
        border: 1px solid transparent;
        padding: 1.2rem 2rem;
    }

    .newslater button:hover{
        background-color: transparent;
        color: #ffffff;
        border: 1px solid #ffffff;
    }


}


/* Breakpoint for medium device */

@media screen and (min-width: 641px) and (max-width: 768px) {
    #subscribe {
        height: 33vh;
        padding-top: 0;
    }
    
    #subscribe h2 {
        font-size: 2.4rem;
        padding: 2rem 0 0 0;
    }
    
    .newslater input {
        font-size: 1.1rem;
        padding: 1.1rem 2rem;
        margin-right: 1rem;
        margin-left: 5rem; 
    }
    
    .newslater button {
        font-size: 1.15rem;
        padding: 1.1rem 2rem;
    }
    
    .newslater button:hover{
        font-size: 1.15rem;
    }
}


/* Breakpoint for medium device */

@media screen and (max-width: 640px) {
    #subscribe {
        height: 30vh;
        padding-top: 3rem;
    }
    
    #subscribe h2 {
        font-size: 2.3rem;
        text-align: center;
    }
    
    .newslater form{
        display: grid;
        gap: 1rem;
        margin-left: 3.7rem;
    }
    
    .newslater input {
        font-size: 1.1rem;
        padding: 1.2rem 2rem;
        letter-spacing: 1px;
    }
    
    .newslater button {
        width: 50%;
        margin: 0 auto;
        font-size: 1.1rem;
        padding: 1.2rem 2rem;
        border: 1px solid transparent;
        padding: 1.2rem 2rem;
    }

    .newslater button:hover{
        font-size: 1.1rem;
        padding: 1.2rem 2rem;

        color: #ffffff;
        background-color: transparent;
        border: 1px solid #ffffff;
    }

}


/* Breakpoint for smaller mobile device */


@media screen and (max-width: 380px) {
    #subscribe {
        height: 29vh;
        width: 100%;
        display: grid;
        margin-top: 0rem;
        padding-top: 3rem;
    }
    
    
    #subscribe h2 {
        font-size: 2rem;
        color: #ffffff;
    }
    
    .newslater {
        display: grid;
        padding: 0 0 2rem 0;
        margin-right: 2.5rem;
    }
    
    .newslater input {
        font-size: 1rem;
        color: #ffffff;
        padding: 1.1rem 2rem;
        letter-spacing: 1px;
        text-align: center;
        margin: 0;
    }   

    .newslater button {
        font-size: 1rem;
        font-weight: 600;
        color: #cf3a2c;
        background-color: #ffffff;
        padding: 1.1rem 2rem;
    }
    
    .newslater button:hover{
        font-size: 1rem;
        color: #ffffff;
    }
}

